.login-container {
    color: #fff;
    width: 80%;
    margin: 0 auto;
    height: 100%;

    .logo-container {
        text-align: center;
        width: 100%;
        margin-top: 60%;
    }

    i {
        margin-bottom: 40px;
    }

    input {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #fff;
        font-weight: 300;
        line-height: 1;
    }

    input::placeholder {
        color: #fff !important;
        font-family: 'Josefin Sans', sans-serif;
    }

    button {
        margin: 20px 0px;
        width: 100%;
        border: 1px solid #fff;
        color: #fff;
        padding-top: 10px;

        &:hover {
            -webkit-box-shadow: 0px 0px 7px 0px rgba(134,229,67,0.9);
            -moz-box-shadow: 0px 0px 7px 0px rgba(134,229,67,0.9);
            box-shadow: 0px 0px 7px 0px rgba(134,229,67,0.9);
        }
    }

    a {
        color: #fff;
        font-weight: 300;
        font-size: 15px;
        text-decoration: underline;
    }
}