.news {
    color: #fff;
    padding: 0px 20px;
    // padding-top: 40px;
    overflow: scroll;
    max-height: 84vh;
    font-weight: 300;

    h2 {
        font-weight: 500;
        text-align: center;
    }
    .news-tile {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);

        .news-item {
            width: 100%;
            position: relative;
            border-radius: 10px 10px 0px 0px;    
        }

        .news-title {
            padding: 10px;
            color: black;
            font-size: 16px;
        }
    }
}