.news {
    color: #fff;
    font-weight: 300;
    padding: 20px;
    padding-top: 40px;

    h2 {
        font-weight: 500;
        text-align: center;
    }
    .news-item {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff4d;
        border-radius: 4px;
        
        img {
            max-width: 35%;
            display: inline-block;
            border-radius: 4px 0px 0px 4px;
        }

        .news-title {
            display: inline-block;
            max-width: 63%;
            margin-left: 2%;
            padding: 5px;
        }

    }
}