.portfolio-container {
    margin: 0 auto;
    position: relative;
    width: 90%;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;

    .meter-container {
        position: relative;
        width: 50%;
        margin: 0 auto;
        margin-top: 30px;
        max-width: 200px;
    
        .meter {
            max-height: 200px;
        }
        
        .meter-label {
            position: absolute;
            top: 65px;
            left: 39px;
            line-height: 0px;
            text-align: center;
            p {
                color: #fff;
                font-size: 30px;
            }
            span {
                color: white;
                font-size: 10px;
            }
        }
    }
    .chart-container {
        margin-top: 40px;
    }
}
