.meter-container {
    margin-top: 30px;
    position: relative;

    .meter {
        height: 200px;
        margin-left: 20px;
        width: 200px;
    }
    
    .meter-label {
        position: absolute;
        top: 51px;
        color: #fff;
        left: 76px;
        font-size: 34px;
    }
}
